* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
.header-landing {
    padding: 0 2%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home {
    margin-right: 20px;
    color: #3498DB;
    font-size: 1.25rem;
}
.contact {
    margin-right: 20px;
    color: #3498DB;
    font-size: 1.25rem;
}

.navLinks {
    display: flex;
    align-items: center;
}
.signInBtn {
    background-color: #fff;
    color: #3498DB;
    border: 1px solid #3498DB;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    font-size: 1.25rem;
    cursor: pointer;
    font-weight: bold;
    margin-right: 20px;
}
.getBtn {
    background-color: #3498DB;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    font-size: 1.25rem;
    cursor: pointer;
    font-weight: bold;
}
.barIcon {
    display: none;
}
.backImg {
    width: 100%;
}
.content-container {
    width: 100%;
    height: 600px;
    /* height: 100%; */
    background-image: url("../Assets/background-img.svg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: contain; */
    /* background-position: center; */
    /* background-attachment: fixed; */
    position: relative;
}
.content {
    /* position: absolute; */
    top: 13%;
    left: 0%;
    padding: 0 2%;
}
.contentHeader {
    font-size: 6rem;
    font-weight: bold;
    color: #fff;
    padding-top: 10%;
}
.contentSmallHeader {
    font-size: 4rem;
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
    /* margin-bottom: 20px; */
}
.contenBodytHeader {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 30px;
}
.heroBtn {
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
    border: none;
    font-size: 1.125rem;
    color: white;
    background: linear-gradient(#4CAF50, #64C1FF);
    /* margin-bottom: 30px; */
}
/* Section 2 */
.next {
    display: flex;
    /* position: relative; */
    padding: 0 2%;
    margin-top: 50px;
}
.lefttext {
    display: flex;
}
.lefttext .txt .txtHeader, .righttext .txt .txtHeader {
    margin-bottom: 10px;
}
.lefttext .txt, .righttext .txt {
    left: 39%;
    position: relative;
    top: -130px;
    width: 50%; 
}
.recent {
    position: relative;
    display: flex;  
}
.mainLeft {
    margin-left: 4%;
    margin-bottom: 30px;
}
.recent .recentLeftHeader {
    color: #27AE60;
    font-size: 1.5rem;
    margin-bottom: 70px;
    margin-left: 4%;
    margin-top: 10px;
}

.recentLeft .mainLeft .text .newsHeader  {
    font-size: 1.6875rem;
    margin-bottom: 10px;
}
.recentLeft .mainLeft .text {
    position: relative;
    left: 40%;
    color: black;
    width: 55%;
    top: -210px;
}
.recentLeft {
    width: 70%;
    background-color: #3498db5f;   
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 90px;
}
.details {
    display: flex;
}
.userName{
    margin-left: 6px;
}
.details .datePosted {
   top: 2px; 
   left: 3px;
   position: relative;
}
.seemore {
    color: black;
    position: relative;
    left: 50%;
    top: -12px;
    font-size: 20px;
}
.eachBlog {
    margin-top: 30px;
    position: relative;
    width: 99%;
    height: 250px;
    border-bottom: 1px solid black;
    border-radius: 0px 0px 10px 10px ;
    overflow: hidden;
}
.newsBody {
    margin-top: 10px;
}
.recentRight {
    margin-left: 50px;
    /* width: 420px; */
    width: 30%;
}
.recentRight .recentRightHeader {
    color: #27AE60;
}
.topic {
    display: flex;
    /* width: 90%; */
    position: relative;
    left: -3%;
    flex-wrap: wrap;
}
.recentRightTopic5 {
    margin-bottom: 10px;
}
.topic .recentRightTopic:hover {
    transition: 1s;
    background-color: white;
    color: #3498DB;
    border: 1px solid #4CAF50;
    cursor: pointer;
}
.topic .recentRightTopic {
    font-size: 16px;
    border-radius: 10px;
    background-color: #45A3E2;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    color: white;
    justify-content: space-between;
    margin-left: 10px;
    white-space: nowrap;
}
.popular {
    margin: 20px 0 5px 0;
}
.eachitem {
   margin-top: -15px;
   margin-left: 50px;
}
.recentRight .pointArrow {
    position: relative;
    top: 15px;
}
/*  */
.lowerFooter {
    background-color: black;
}
.footer {
    background-color: black;
    height: 540px;
    width: 100%;
}
.higherFooter {
    position: relative;
    background: linear-gradient(141.38deg, #64C1FF 31.1%, rgba(39, 174, 95, 0.85) 94.87%);
    height: 275px;
}
.footer .right .righSubImg {
    float: right;
    position: relative;
    top: -191px;
}
.middle {
    position: relative;
    left: 27%;
    width: 32%;
}
.middle .middleSub {
    font-size: 29px;
    color: #3498DB;
    white-space: nowrap;
}
.middle .middleSub, .middle .middleBody {
    position: relative;
    top: -20px;
}
.middle .middleBody {
    line-height: 22px;
    position: relative;
    top: 1px;
}
.emailSub {
    border: none;
    width: 60%;
    height: 39px;
    position: relative;
    top: 20px;
    border-radius: 8px 0px 0px 8px;
    padding-left: 5px;
}
.emailSub:focus {
    outline: none;
}
.submitSub {
    border: none;
    cursor: pointer;
    width: 20%;
    height: 39px;
    border-radius: 0px 8px 8px 0px;
    float: right;
    position: relative;
    left: -90px;
    color: white;
    background-color: #3498DB;
    top: 20px;
}
.logo1 {
    position:relative ;
    top: 30px;
    left: 3%;
}
.lowerFooter .lowerFooterHeader {
    color: white;
    font-size: 32px;
    margin-left: 3%;
    position: relative;
    top: 20px;
    color: #64C1FF ;
}
.lowerFooter {
    display: flex;
    background-color: black;
    justify-content: space-between;
}
.about .aboutLink, .work .aboutLink, .about .aboutBold, .work .aboutBold {
    display: block;
    line-height: 30px;
    position: relative;
    top: 20px;
    text-decoration: none;
    color: white;
}
.about .aboutLink:hover, .work .aboutLink:hover {
    transition: 1s;
    position: relative;
    left: 2px;
    color: #3498DB;
}
.FollowUs{
    color: #fff;
    margin-left: 110px;
}
.follow {
    background: #000;
}
.social {
    position: relative;
    left: 30%;
    top: 40px;
}
.arrowUp {
    /* position: static; */
    position: relative;
    bottom: -100px;
    right: -150px;

}
.copy {
    color: white;
    margin-left: 3%;
    position: relative;
    top: 12%;
    font-weight: bold;
}

@media (max-width: 1260px) {
    .logohome {
        width: 150px;
        /* height: 100px; */
    }
    .home, .contact, .signInBtn {
        display: none;
    }
    .getBtn {
        width: 91px;
        height: 32px;
        font-size: 0.875rem; 
        font-weight: 700;
        border-radius: 50px;
    }
    .barIcon {
        display: inline-block;
        font-size: 1.5rem;
        color: #3498DB;
        cursor: pointer;
        padding:  0 10px 0 20px;
    }
    .backImg {

        height: 100%;
    }
    .content-container {
        background-size: contain;
        width: 100%;
        /* height: 100%; */
    }
    .contentHeader {
        font-size: 2rem;
    }
    .contentSmallHeader {
        font-size: 1.5rem;
    }
    .contenBodytHeader {
        font-size: 0.875rem;
    }
    .heroBtn {
        border-radius: 50px;
        padding: 10px 20px 10px 20px;
        font-size: 1rem;
    }
    .next {
        flex-direction: column;
        align-items: center;
        padding: 0 0;
        margin-top: 0px;
    }
    .thinker {
        width: 106px;
        padding-right: 15px;
    }
    .left {
        margin-top: -5%;
        /* gap: 20px; */
    }
    .lefttext .txt .txtHeader, .righttext .txt .txtHeader {
        margin-bottom: 10px;
    }
    .lefttext .txt, .righttext .txt {
        /* left: 10%; */
        position: relative;
        top: -85px;
        width: 70%; 
        margin-left: 0;
    }
    .txtHeader {
        font-size: 0.9375rem;
        font-family: Roboto; 
        font-family: 700;
    }
    .txtbody {
        color: #524C4C;
        font-family: Roboto;
        font-size: 0.875rem;
        font-weight: 400;
        width: 200px;
    }
    .right {
        /* margin-top: -10%; */
        margin-left: 0px;
    }
    /* Section 2 style start */
    .recent {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        /* justify-content: center; */
    }
    .recentRight {
        /* margin-left: 5px; */
        /* width: 400px; */
        width: 100%;
        /* padding: 0 5px; */
        margin-bottom: 30px;
        padding: 20px 5px;
        border-bottom: 1px solid #222222;
        border-top: 1px solid #222222;
    }
    .topic {

        width: 90%;
        position: relative;
        /* left: -3%; */
        flex-wrap: wrap;
    }
    .pointArrow {
        width: 30px;
    }
    .popular {
        margin: 20px 0 5px 0;
        padding-top: 10px;
        color: #27AE60;
        border-top: 1px solid #222222;
        
    }
    .eachitem {
        padding: 0px 5px;
        margin-top: -15px;
        margin-left: 30px;
        font-size: 0.9375rem;
        /* width: 90%; */
     }
    /* Section 2 style end */
}
@media (max-width: 1000px) {
    .content-container {
        /* background-size: cover; */
        width: 100%;
        height: 500px;
    }  
}
@media (max-width: 800px) {
    .content-container {
        /* background-size: cover; */
        /* width: 800px; */
        width: 100%;
        height: 500px;
    }
    .left {
        margin-top: -15%;
    }
}
@media (max-width: 600px) {
    .content-container {
        background-image: url("../Assets/bg-mobile.svg");
        background-size: contain;
        width: 100%;
        /* height: 300px; */
    } 
    .left {
        margin-top: -10%;
    }
}
@media (max-width: 650px) {
    .left {
        margin-top: -25%;
    }
}
@media (max-width: 599px) {
    .left {
        margin-top: -10%;
    }
}
@media (max-width: 500px) {
    .left {
        margin-top: -25%;
    }
}
@media (max-width: 533px) {
    .left {
        margin-top: -17%;
    }
}
@media (max-width: 511px) {
    .left {
        margin-top: -19%;
    }
}
@media (max-width: 450px) {
    .left {
        margin-top: -30%;
    }
}
@media (max-width: 420px) {
    .left {
        margin-top: -35%;
    }
}
@media (max-width: 400px) {
    .left {
        margin-top: -50%;
    }
}
